# Лабораторная работа №2
## Изучение библиотек обработки данных. Часть 1.
Часть 1.
Выполните первое демонстрационное задание "demo assignment" под названием "Exploratory data analysis with Pandas" со страницы курса https://mlcourse.ai/assignments

Условие задания - https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/assignments_demo/assignment01_pandas_uci_adult.ipynb?flush_cache=true

Официальный датасет находится здесь, но данные и заголовки хранятся отдельно, что неудобно для анализа - https://archive.ics.uci.edu/ml/datasets/Adult

Поэтому готовый набор данных для лабораторной работы удобнее скачать здесь - https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/adult.data.csv (удобнее всего нажать на данной ссылке правую кнопку мыши и выбрать в контекстном меню пункт "сохранить ссылку", будет предложено сохранить файл в формате CSV)

Пример решения задания - https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution

Объявление библиотек и настройка отображения:

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
import matplotlib.pyplot as plt
import seaborn as sns

Подключение предлагаемой выборки и проверка выводом первых 5ти:

In [2]:
data = pd.read_csv('C:/Dataset/adult.data.csv' )
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### Задача 1.
Сколько мужчин и женщин отображено в выборке

In [3]:
data['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

#### Задача 2.
Найти средний возраст женщин

In [4]:
data_fem = data[data['sex']==' Female']
data_fem.head()
data_fem['age'].mean()

36.85823043357163

#### Задача 3. 
Каков процент жителей из Германии?

In [5]:
(data['native-country']==' Germany').sum()/data['age'].count()*100

0.42074874850281013

#### Задачи 4-5.
Найти среднее и отклонение возраста для богатых (ЗП>50к) и бедных (ЗП<50к)

In [6]:
ages1 = data.loc[data['salary'] == ' >50K', 'age']
ages2 = data.loc[data['salary'] == ' <=50K', 'age']
print("rich: {0} +- {1} years, \npoor: {2} +- {3} years.".format(
    round(ages1.mean()), round(ages1.std(), 1),
    round(ages2.mean()), round(ages2.std(), 1)))

rich: 44.0 +- 10.5 years,
poor: 37.0 +- 14.0 years.

#### Задача 6.
Проверить, является ли правдой утверждение что те, кто зарабатывает 50к+ имеют образование как минимум выше старшей школы?

In [7]:
data.loc[(data['salary'] == ' >50K') & 
(~data['education'].isin([' Bachelors', ' Prof-school', ' Assoc-acdm',
 ' Assoc-voc', ' Masters',' Doctorate feature']))]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

#### Задача 7.
Отобразить возрастную статистику по каждой расе и полу. Использовать GROUPBY и DESCRIBE. Найти максимальный возраст мужчин Американско-Индийско-Эскимоской расы (?).

In [8]:
for (race, sex), sub_df in data.groupby(['race', 'sex']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df['age'].describe())

Race:  Amer-Indian-Eskimo, sex:  Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race:  Amer-Indian-Eskimo, sex:  Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race:  Asian-Pac-Islander, sex:  Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race:  Asian-Pac-Islander, sex:  Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race:  Black, sex:  Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  Black, sex:  Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  Other, sex:  Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race:  Other, sex:  Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race:  White, sex:  Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  White, sex:  Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

#### Задача 8.
Найти кого больше среди тех кто получает 50к+: женатых или одиноких мужчин

In [9]:
data.loc[(data['sex'] == ' Male') &
     (data['marital-status'].isin([' Never-married', ' Separated', ' Divorced',
      ' Widowed'])), 'salary'].value_counts()

 <=50K    7552
 >50K      697
Name: salary, dtype: int64

Такое же сравнение но среди тех кто имеет в статусе "Семейное положение" статус начинающийся с 'married'

In [10]:
data.loc[(data['sex'] == ' Male') &
     (data['marital-status'].str.startswith(' Married')), 'salary'].value_counts()

 <=50K    7576
 >50K     5965
Name: salary, dtype: int64

Общая статистика по "Семейному положению"

In [11]:
data['marital-status'].value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64

#### Задание 9.
Чему равно максимальное число отработанных в неделю часов? Сколько человек так живет и сколько из них получает много?

In [12]:
maxh = data['hours-per-week'].max()
num = data[data['hours-per-week'] == maxh].shape[0]
pers = float(data[(data['hours-per-week'] == maxh)
                 & (data['salary'] == ' >50K')].shape[0]) / num
print("There are {a} men with {b} hpw and there is a percentage of rich among them {c}%".format(a=num,b=maxh,c=int(100 * pers)))

There are 85 men with 99 hpw and there is a percentage of rich among them 29%

#### Задание 10.
Найти среднее рабочее время относительно получающих больше/меньше 50к по каждой стране

In [13]:
for (country, salary), sub_df in data.groupby(['native-country', 'salary']):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 2))

 ?  <=50K 40.16
 ?  >50K 45.55
 Cambodia  <=50K 41.42
 Cambodia  >50K 40.0
 Canada  <=50K 37.91
 Canada  >50K 45.64
 China  <=50K 37.38
 China  >50K 38.9
 Columbia  <=50K 38.68
 Columbia  >50K 50.0
 Cuba  <=50K 37.99
 Cuba  >50K 42.44
 Dominican-Republic  <=50K 42.34
 Dominican-Republic  >50K 47.0
 Ecuador  <=50K 38.04
 Ecuador  >50K 48.75
 El-Salvador  <=50K 36.03
 El-Salvador  >50K 45.0
 England  <=50K 40.48
 England  >50K 44.53
 France  <=50K 41.06
 France  >50K 50.75
 Germany  <=50K 39.14
 Germany  >50K 44.98
 Greece  <=50K 41.81
 Greece  >50K 50.62
 Guatemala  <=50K 39.36
 Guatemala  >50K 36.67
 Haiti  <=50K 36.33
 Haiti  >50K 42.75
 Holand-Netherlands  <=50K 40.0
 Honduras  <=50K 34.33
 Honduras  >50K 60.0
 Hong  <=50K 39.14
 Hong  >50K 45.0
 Hungary  <=50K 31.3
 Hungary  >50K 50.0
 India  <=50K 38.23
 India  >50K 46.48
 Iran  <=50K 41.44
 Iran  >50K 47.5
 Ireland  <=50K 40.95
 Ireland  >50K 48.0
 Italy  <=50K 39.62
 Italy  >50K 45.4
 Jamaica  <=50K 38.24
 Jamaica  >50K 41.1
 Japan  <=50K 41.0
 Japan  >50K 47.96
 Laos  <=50K 40.38
 Laos  >50K 40.0
 Mexico  <=50K 40.0
 Mexico  >50K 46.58
 Nicaragua  <=50K 36.09
 Nicaragua  >50K 37.5
 Outlying-US(Guam-USVI-etc)  <=50K 41.86
 Peru  <=50K 35.07
 Peru  >50K 40.0
 Philippines  <=50K 38.07
 Philippines  >50K 43.03
 Poland  <=50K 38.17
 Poland  >50K 39.0
 Portugal  <=50K 41.94
 Portugal  >50K 41.5
 Puerto-Rico  <=50K 38.47
 Puerto-Rico  >50K 39.42
 Scotland  <=50K 39.44
 Scotland  >50K 46.67
 South  <=50K 40.16
 South  >50K 51.44
 Taiwan  <=50K 33.77
 Taiwan  >50K 46.8
 Thailand  <=50K 42.87
 Thailand  >50K 58.33
 Trinadad&Tobago  <=50K 37.06
 Trinadad&Tobago  >50K 40.0
 United-States  <=50K 38.8
 United-States  >50K 45.51
 Vietnam  <=50K 37.19
 Vietnam  >50K 39.2
 Yugoslavia  <=50K 41.6
 Yugoslavia  >50K 49.5